.header__logo {
    max-width: 173px;
    max-height: 33px;
    margin: 45px 0 40px;
}

@media screen and (max-width: 880px) {
    .header__logo {
        margin: 28px auto 32px 27px;
    }
}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 126px;
        max-height: 24px;
    }
}
