.edit-form__save {
  padding: 0;
  border: none;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.edit-form__save:disabled {
  opacity: 0.2;
  background-color: #e5e5e5;
  color: #000;
  border: 1px solid black;
}

.edit-form__save:disabled:hover {
  cursor: default;
  opacity: 0.2;
}

@media screen and (min-width: 1024px) {
  .edit-form__save:hover {
    opacity: 0.8;
  }
}

@media screen and (max-width: 425px) {
  .edit-form__save {
    height: 46px;
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
