.footer {
  width: 100%;
  max-width: 880px;
  margin: 60px auto 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 920px) {
  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 50px auto;
  }
}
