.element__delete {
    padding: 0;
    background: url(../../../images/delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 0px;
    width: 18px;
    height: 19px;
    position: absolute;
    right: 16px;
    top: 18px;
    transition: opacity linear 0.45s;
    cursor: pointer;
}

.element__delete:hover {
    opacity: 0.5;
}
