@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);
/*PAGE*/
@import url(./blocks/page/page.css);
/*AUTH PAGE*/
@import url(./blocks/auth-page/auth-page.css);
@import url(./blocks/auth-page/__form/auth-page__form.css);
@import url(./blocks/auth-page/__info/auth-page__info.css);
@import url(./blocks/auth-page/__input/auth-page__input.css);
@import url(./blocks/auth-page/__input-error/auth-page__input-error.css);
@import url(./blocks/auth-page/__input-error/_active/auth-page__input-error_active.css);
@import url(./blocks/auth-page/__submit-btn/auth-page__submit-btn.css);
@import url(./blocks/auth-page/__submit-btn/_disabled/auth-page__submit-btn_disabled.css);
@import url(./blocks/auth-page/__title/auth-page__title.css);
/*POPUP*/
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/_type_preview/popup__container_type_preview.css);
@import url(./blocks/popup/__container/_type_confirm/popup__container_type_confirm.css);
@import url(./blocks/popup/__container/_type_info/popup__container_type_info.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__auth-img/popup__auth-img.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__description/popup__description.css);
/*EDIT FORM*/
@import url(./blocks/edit-form/edit-form.css);
@import url(./blocks/edit-form/__label/edit-form__label.css);
@import url(./blocks/edit-form/__input/edit-form__input.css);
@import url(./blocks/edit-form/__heading/edit-form__heading.css);
@import url(./blocks/edit-form/__text-input/edit-form__text-input.css);
@import url(./blocks/edit-form/__save/edit-form__save.css);
@import url(./blocks/edit-form/__error/edit-form__error.css);
@import url(./blocks/edit-form/__error/_visible/edit-form__error_visible.css);
@import url(./blocks/edit-form/__save/_disabled/edit-form__save_disabled.css);
@import url(./blocks/edit-form/__text-input/_error/edit-form__text-input_type_error.css);
@import url(./blocks/edit-form/_el_delete/edit-form_el_delete.css);
@import url(./blocks/edit-form/__heading/_el_delete/edit-form__heading_el_delete.css);
/*CONTENT*/
@import url(./blocks/content/content.css);
/*HEADER*/
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__nav-bar/header__nav-bar.css);
@import url(./blocks/header/__nav-link/header__nav-link.css);
@import url(./blocks/header/__nav-link/_type/header__nav-link_type_close.css);
@import url(./blocks/header/__user-email/header__user-email.css);
/* USERS DETAILS */
@import url(./blocks/users-details/users-details.css);
/*PROFILE*/
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-icon/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
/*ELEMENTS*/
@import url(./blocks/elements/elements.css);
/*ELEMENT*/
@import url(./blocks/element/element.css);
@import url(./blocks/element/__post-img/element__post-img.css);
@import url(./blocks/element/__post-info/element__post-info.css);
@import url(./blocks/element/__post-name/element__post-name.css);
@import url(./blocks/element/__post-like/element__post-like.css);
@import url(./blocks/element/__post-like/_active/element__post-like_active.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__like-wrapper/element__like-wrapper.css);
@import url(./blocks/element/__like-count/element__like-count.css);
/*FOOTER*/
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
